@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .noti-badge {
    @apply absolute inline-flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-purple-500 border-2 border-white rounded-full;
  }

  .dark-bg-white {
    @apply bg-white dark:bg-[#2C2351]
  }

  .dark-bg-white {
    @apply dark:text-white text-[#2C2351]
  }
}

/* Override the Built In Style of the Apex Chart */
.expenses-card .apexcharts-legend {
  padding: 0;
  right: 50px !important;
  top: 30px !important;
  height: fit-content;
}
